#management {
    margin-top: 5rem;
}

#management a {
    text-decoration: underline;
}

.grid__item__view.hide {
    display: none;
}

.grid__item__view {
    display: block;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.grid_nav a.active {
    color: var(--lightgrey);
}

#man__search {
    display: grid;
    justify-items: center;
}

.submit__button {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.views__list {
    padding-bottom: 1rem;
    max-width: 50rem;
    margin-inline: auto;
}

.change__icon {
    width: 15px;
    height: 15px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding-top: 0.2rem;
}

.submit-button {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.add_shop {
    text-align: center;
    margin-bottom: 1.5rem;
}

.wrapTable {
	margin-top: 0px;
	.tableHeader {
		padding: 20px 0;
		border-bottom: 1px solid #333;
		background-color: #ddd;
		display: flex;
		flex-direction: row;
		align-items: center;
        text-align: center;
		.iteman {
			width: 20%;
            background-color: none;
			&.col1 {
				width: 40%;
			}
			&:nth-child(1) {
				padding-left: 15px;
			}
		}
	}
	.oneRow {
		padding: 20px 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #555;
        text-align: center;
		.iteman {
			margin: 0;
			width: 20%;
            background-color: none;
			&.col1 {
				width: 40%;
			}
		}
	}
}

.span {
    background-color: none;
}

#z {
    list-style: none;
    text-align: center;
    margin-bottom: 0.8rem;
}

#f__table {
    text-align: center;
    padding-bottom: 2rem;
}

#f__table a.active {
    display: none;
}

#f__report {
    text-align: center;
    padding-bottom: 2rem;
}

#f__report a.active {
    display: none;
}

.views__list.hide {
    display: none;
}

.data__shop table {
    display: flex;
    justify-content: center;
    text-align: center;
}

.data__shop tr {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}