/* #checkout-body {
    display: flex;
    justify-content: space-around;
    margin-top :5rem;
    margin-bottom: 4rem;
    min-height: 70vh;
    padding-inline: 6rem;
}

#checkout-container-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    padding: 1rem;
}

#checkout-content {
    padding: 1rem;
    background-color: var(--white);
    border-radius: 30px;
    margin-block : 1rem;
}

#checkout-content-title {
    margin-bottom: 1rem;
}

#checkout-content-box {
    cursor: pointer;
}

#checkout-content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#checkout-button-box {
    padding: 1rem;
}

.cart-modify-button {
    padding-inline: 1rem;
    padding-block:0.5rem;
    background-color: var(--lightorange);
    border-radius: 30px;
}

.cart-modify-button:hover {
    background-color: var(--orange);
}

#checkout-container-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    padding: 1rem;
}

#checkout-item-box {
    padding: 1rem;
    height: 300px;
    width: 100%;
}

#checkout-delivery-address-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

#checkout-item-recap {
    padding: 1rem;
    height: fit-content;
    width: 100%;
}

#checkout-radio-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width : 500px;
    padding : 0.5rem
}

#checkout-address-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:1rem;
    padding-block: 1rem;
    width: 280px;
    cursor: pointer;
}

#checkout-payement-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:1rem;
    padding-block: 1rem;
    width: 280px;
    cursor: pointer;
}

#add-icon {
    cursor: pointer;
    padding: 0.5rem;
}

#checkout-item {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-block: 1rem;
}

#confirm-order-button {
    padding-inline: 1rem;
    padding-block:0.5rem;
    background-color: var(--lightorange);
    border-radius: 30px;
    width: 100%;
    height:50px;
}

#confirm-order-button:hover {
    background-color: var(--orange);
} */


/* ======= RESPONSIVE ======= */


/* @media screen and (max-width: 800px) {

    #checkout-body {
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
        margin-top :6rem;
        margin-bottom: 2rem;
        min-height: unset;
        height: fit-content ;
        padding-inline: 10px;
    }

    #checkout-container-left {
        width: 100%;
        padding: 0;
    }

    #checkout-content {
        margin-block: 1rem;
    }

    #checkout-container-right {
        width: unset;
        padding: 0;
    }

} */