.clients__buttons__yellow {
    background-color: var(--orange);
}

.clients__buttons__yellow:hover {
    cursor: pointer;
}

.clients__buttons__black {
    background-color: var(--black);
}

.clients__buttons__black:hover {
    cursor: pointer;
}

.clients__icon {
    width: 15px;
    height: 15px;
    margin-top: 0.3rem;
    margin-left: 0.5rem;
    padding-top: 0.3rem;
}

.clients__icon__intern {
    width: 15px;
    height: 15px;
    margin-left: 0.5rem;
}

.identity__icon {
    width: 15px;
    height: 15px;
    margin-top: 0.3rem;
    margin-left: 0.5rem;
}

.identity__icon2 {
    width: 15px;
    height: 15px;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.clients_pay p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.25rem;
    font-size: 1.05rem;
}

#chosen2 p {
    font-size: .85rem;
    color: #778899;
}

#delete__picture {
    display: grid;
    max-width: 20%;
    margin-inline: auto;
    margin-top: 1rem;
}

@media screen and (max-width:749px) {
    #delete__picture {
        max-width: 60%;
    }
}

.Me {
    max-width: 10rem;
}

.bsure {
    display: grid;
    text-align: center;
    justify-items: center;
    margin-inline: auto;    
}

.psure {
    display: grid;
    text-align: center;
    margin-inline: auto;    
}

.csure {
    display: grid;
    text-align: center;
    justify-items: center;
    margin-inline: auto;
}

.hide {
    display: none;
}