.ConditionsGeneralesHeroBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 297vh;
}

.ConditionsGeneralesContainer1 {
    justify-items: center;
    width: 95%;
    height: 90%;    
}

.ConditionsGeneralesSection1 {
    position: fixed;
    float: left;
    width: 20%;
    background-color: #434848;
    justify-items: center;
}
  
  .ConditionsGeneralesSection2 {
    display: block;
    float: right;
    height: 100%;
    width: 75%;
    text-align: center;
    background-color: #2e3333;
}

.ConditionsGeneralesUtilisationTitre {
    font-size: 160%;
    color: white;
    text-decoration: underline;
    padding: 1%;
}

.ConditionsGeneralesUtilisationTitre2 {
    font-size: 160%;
    color: white;
    text-decoration: underline;
    padding: 1%;
}

.ConditionsGeneralesUtilisationTitre3 {
    font-size: 160%;
    color: white;
    text-decoration: underline;
    padding: 1%;
}

.ConditionsGeneralesChartreText {
    font-size: 110%;
    color: white;
    padding: 1%;
}

.ConditionsGeneralesbutton {
    display: flex;
    background-color: #afff90;
    width: 92px;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
}

.ConditionsGeneralesbuttoncontainer {
    padding-bottom: 5%;
    padding-top: 5%;
}

@media screen and (max-width: 1050px) {

    .ConditionsGeneralesHeroBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350vh;
    }
}

@media screen and (max-width: 850px) {

    .ConditionsGeneralesHeroBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400vh;
    }
}

@media screen and (max-width: 700px) {

    .ConditionsGeneralesHeroBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 450vh;
    }
}

@media screen and (max-width: 600px) {

    .ConditionsGeneralesHeroBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500vh;
    }
}

@media screen and (max-width: 500px) {

    .ConditionsGeneralesHeroBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600vh;
    }
}

@media screen and (max-width: 450px) {

    .ConditionsGeneralesHeroBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 650vh;
    }
}