#create-super-container {
    width : 60%;
    margin-inline: auto;

}

.create-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:7rem;
    width: 100%;
    /* creer un conteneur pour les formulaires  */
    /* passage en colonne pour mobile */
}

#create-container-presentation {
    margin-top:4rem;
}

#add__top {
    justify-content: space-around;
    width:100%;
    margin-top:2rem;
    /* modifier la width + margin induites par la classe reso-id */
        /* adapter la width à la taille de la div contenant add__top*/
}

#add__item {
    justify-content: space-around;
    width:100%;
    margin-top:2rem;
    /* modifier la width + margin induites par la classe reso-id */
    /* adapter la width à la taille de la div contenant add__item */
}


#add .picture {
    margin-top: 2rem;
}

#item-select {
    margin-bottom: 1rem;
}

#add__shop, #add__hours, #add__type, #add__kg, #add__order, #add__make {
    height: 2rem;
    border: solid;
    border-width: 0.1rem;
    border-radius: 6%;
    margin-bottom: .5rem;
    width: 100%;
}

#add__price {
    height: 2rem;
    border: solid;
    border-width: 0.1rem;
    border-radius: 6%;
    margin-bottom: .5rem;
    width: 100%;
}

#add__things__item {
    border: solid;
    border-width: 0.1rem;
    border-radius: 6%;
    width: 100%;
}

#add__things {
    border: solid;
    border-width: 0.1rem;
    border-radius: 6%;
    width: 100%;
}

#create__shop {
    display: flex;
}

#add__description {
    justify-content: center;
    padding-inline:0;
    padding-block: 0;
    width:100%
    /* alignement via justify-content */
}

#create__button {
    margin-bottom: 1rem;
    width: 8rem;
}