/* @import */

.inscriptionrestaurant-container {
    height: 50%;
    width: 50%;
}

.section-inscrirestau1 {
    display: flex;
    height: 40%;
    width: 40%;
  }
  
  .section-inscrirestau2 {
    display: flex;
    height: 40%;
    width: 40%;
  }