/* @import */

.inscriptionrestaurant-container {
    justify-content: center;
  }
  
  .container-inscrirestau {
      justify-items: center;
      height: 100%;
      width: 100%;
  }
  
  .section-inscrirestau1 {
    float: left;
      height: 100%;
      width: 50%;
  }
    
    .section-inscrirestau2 {
      display: block;
      float: right;
      height: 100%;
      width: 50%;
      text-align: right;
  }
  
  .inscriptionrestaurant-title {
    text-align: center;
    width: 100%;
  }
  
  .inscription-undertitle {
    text-align: center;
  }
  
  .inscription-confirmation-button-restauinscri {
    position: flex;
    text-align: center;
  }
  
  .questionnaire-inscrirestau {
    padding-bottom: 1%;
    padding-top: 1%;
  }
  
  @media screen and (max-width: 950px) {
  
  .inscriptionrestaurant-container {
    display: block;
    font-size:75%;
    width: 100%;
    padding-bottom: 25px;
  }
  
  h1 {
    font-size:25px;
  }
  
  .inscription-confirmation-button-restauinscri {
    position: flex;
    text-align: center;
    padding-top: 25%;
  }
  
  .questionnaire-inscrirestau #hero-search-bar::placeholder {
    font-size: 72%;
  }
  }