#shopping-cart-body {
    display: flex;
    justify-content: space-around;
    margin-top :8rem;
    margin-bottom: 4rem;
    min-height: 60vh;
    padding-inline: 6rem;
}

#shopping-cart-container-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    padding: 1rem;
}

#shopping-cart-content {
    padding: 1rem;
    background-color: var(--white);
    border-radius: 30px;
}

#shopping-cart-content-box {
    cursor: pointer;
}

#shopping-cart-content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#shopping-cart-button-box {
    padding: 1rem;
}

.cart-modify-button {
    padding-inline: 1rem;
    padding-block:0.5rem;
    background-color: var(--lightorange);
    border-radius: 30px;
}

.cart-modify-button:hover {
    background-color: var(--orange);
}

#shopping-cart-container-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    padding: 1rem;
}

#shopping-cart-item-box {
    padding: 1rem;
    height: 300px;
    width: 100%;
}

#shopping-cart-recap-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-bottom: 1rem;
}

#shopping-cart-item-recap {
    display: none;
    padding: 1rem;
    height: fit-content;
    width: 100%;
}

#shopping-cart-item-recap.open {
    display: block;
}

#recap-arrow.open {
    transform: rotate(180deg);
}

#shopping-cart-item {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-block: 1rem;
}

#confirm-order-button {
    padding-inline: 1rem;
    padding-block:0.5rem;
    background-color: var(--lightorange);
    border-radius: 30px;
    width: 100%;
    height:50px;
}

#confirm-order-button:hover {
    background-color: var(--orange);
}