/* @import */

:root {
    --blue:#488cff;
    --lightblue :#add8e6;
    --orange:#ffcc35;
    --black:#1a1a1a;
    --white:#ffffff;
    --darkwhite:#ececec;
    --lightgrey: #434848;
    --darkgrey:#2e3333;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--black)
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 2rem;
}

._borderradius5 {
    border-radius: 5px;
}

._borderradius10 {
    border-radius: 10px;
}


/* =======header======= */


header {
    background-color: var(--white);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.5rem;
    padding-left: 4rem;
    padding-right: 8rem;
}

.header-logo {
    height: auto;
    width: 15rem;
}

.header-container {
    display: flex;
    justify-content:end;
    align-items: center;
    width: 30%;
}

.header-container a {
    margin-inline: auto;
}

.header-button {
    width : 8rem;
    height: 4rem;
    border : 1px solid;
    border-radius: 40px;
    background-color: var(--blue);
    cursor: pointer;
}

/* =======hero-banner======= */

.hero-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    background-color: var(--orange);
}

.hero-banner-search {
    width: fit-content;
}

.hero-banner-subtitle {
    font-size: 2rem;
    text-align: center;
}

.hero-banner-search-subtitle {
    font-size: 1.5rem;
    padding-block: 0.5rem;
}

.hero-banner form {
    display: flex;
    justify-content: center;
}

#search-bar {
    width: 26rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 30px;
    border: 2px solid;
    border-color: var(--black);
    background-color: var(--lightblue);
    &:focus {
        background-color: var(--white);
        border-color: var(--black);
    }
}

.submit-button {
    width: 6rem;
    height: 4rem;
    border: 1px solid;
    border-radius: 40px;
    background-color: var(--blue);
    cursor: pointer;
}

/* =======main======= */

.main { 
    height: 50vh;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--black);
}

.main-container {
    height: 60vh;
    padding-inline: 1rem;
    background-color: var(--orange);
}

.restaurant-container {
    height: fit-content;
    padding-inline: 0;
    padding-top: 2rem;
    background-color: var(--white);
}

.restaurant-wrap-container {
    height: 50vh;
}

.restaurant-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height: fit-content;
}

.restaurant-title {
    display: inline-flex;
    padding: 1rem;
    background-color: var(--white);
}

.restaurant-id {
    margin-block: 1rem;
    margin-inline: 1rem;
    padding: 1rem;
    border: 1px solid var(--darkwhite);
    box-shadow: 5px 2px 5px var(--darkwhite);
    background-color:var(--white);
}

.restaurant-box li {
    list-style: none;
}

.restaurant-box img {
    width: 180px;
    height: auto; 
    aspect-ratio: 1/1;
}

.logout-content {
    display: flex;
    justify-content: space-between;
}

.logout-a {
    text-decoration: none;
    margin: 1rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logout-flex-container {
    height: 60vh;
}

.home-img-container {
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-img-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-img {
    display: flex;
    justify-content: center;
    height: auto;
    width: 400px;
    object-fit: cover; 
}

/* =======footer======= */

footer {
    background-color: var(--darkgrey);
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    width: 60%;
    padding-block: 2rem;
}

.contact-footer-box {
    height: 6rem;
    background-color: var(--lightgrey);
    padding: 1rem;
}

.contact-footer-box span {
    width: 50px;
    height: 50px;
}

.contact-footer-box img {
    width: 50px;
    height: 50px;
}

.footer-box {
    display: flex;
    flex-direction: column;
    height: 6rem;
    padding: 1rem;
    background-color: var(--lightgrey);
}

.footer-box a {
    color: var(--white);
}

.footer-box-title {
    text-align: center;
}

.footer-box-title h2 {
    color: var(--white);
}

.footer-box-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-box-icons span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.footer-box-icons a {
    text-decoration: none;
}

.footer-box-padtop {
    display: flex;
    flex-direction: column;
}

.links {
    padding-block: 0.5rem;
}

/* =======sections cachées en desktop======= */

.mobile-footer-container {
    display: none;
}


/* ======= RESPONSIVE ======= */


@media screen and (max-width: 800px) {

    .footer-container {
        display:none;
    }

    h1{
        font-size: 3.5rem;
    }

    p {
        font-size: 1rem;
    }

    header {
        width: 100%;
    }

    nav {
        padding-left : 1rem;
        padding-right: 1rem;
    }

    .header-logo {
        width: 8rem;
        height: auto;
    }

    .header-container {
        width: 100%;
    }

    .header-button {
        width: 5rem;
        height: 3rem;
    }

    .hero-banner {
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: unset;
        height: 70vh;
        padding-inline: 1rem;
        margin-bottom: 0;;
    }

    .hero-banner-search {
        width: 100%;
    }

    .hero-banner-search-subtitle {
        font-size: 1rem;
        text-align: center;
    }
    

    .hero-banner-text {
        display: flex;
        flex-direction: column;
        margin-inline: auto;
        text-align: center;
        text-wrap: balance;
    }

    .hero-banner form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #search-bar {
            width: 100%;
            margin-block: 1.5rem;
    }

    .hero-banner button  {
        width: 5rem;
        height: 3rem;
        margin-inline: auto;
    }

    .mobile-footer-container {
        display: flex;
        flex-wrap: wrap;
        padding-block: 1rem;
        width: 100%;
    }

    .main {
        display: none;
    }

    .restaurant-container {
        padding-top: 0;
    }

    .restaurant-id {
        margin-inline: 0;
        border:none;
        box-shadow: none;
    }

    .restaurant-box img {
        width: 150px;
        height: auto; 
        aspect-ratio: 1/1;
    }

    .restaurant-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
        padding: 0;
        text-align: center;
        background-color: var(--orange);
    }

    .footer-box {
        min-width: 40%;
        height: unset;
        padding: 0;
        padding-inline: 1rem;
        border: unset;
        background-color: var(--lightgrey);
        padding: 1rem;
    }

    .footer-content-1 {
        display:flex;
        justify-content: space-around;
        margin-inline: auto;
        width: 90%;
    }

    .footer-content-2 {
        height: unset;
        padding-top: 1rem;;
        padding-inline: 1rem;
        margin-inline: auto;
        border: unset;
        background-color: unset;
        border-radius: unset;
    }

    .footer-content-2 h2 {
        color: var(--white);
        text-align: center;
    }

    .footer-box h2 {
        text-align: center; 
        color: var(--white) ;
    }

    .footer-box-padtop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0;    
    }

    .footer-box-padtop-1 a {
        padding: 0.5rem;
    }

    .footer-box-padtop a {
        display: flex;
        align-items: center;
        padding-top: 0.5rem;
    }

    .footer-box-padtop img {
        width:50px;
        height: 50px;
    }

    .footer-box-padtop span {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        width: 50px;
        height: 50px;
    }

    .box-1 {
        display: unset!important;
    }
}

/* =======customers======= */


.icon {
    width: 15;
    height: 15;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
    padding-top: 0.2rem;
}
.icon__intern {
    width: 15;
    height: 15;
    margin-left: 0.5rem;
}

.subtitle {
    display: flex;
}

#profile .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#page__title {
    text-align: center;
    background-color: var(--orange);
}

#profile .grid {
    display: flex;
    flex-wrap: wrap;
}

#profile .grid__item__left {
    padding-right: 2rem;
    font-weight: bold;
}

#profile p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.25rem;
    font-size: 1.05rem;
}

#identity, #love {
    background-color: var(--orange);
}

#identity {
    padding-top: 0.5rem;
}

#history, #setup {
    background-color: var(--black);
}

#history h2, #history p, #setup h2, #setup label, #setup p, #setup h4 {
    color: var(--white);
}

#history h2, #love h2 {
    padding-bottom: 0.75rem;
}

#history .first {
    color: var(--white);
    padding: 0.15rem;
    font-size: 1.05rem;
}

#history .follow {
    color: var(--white);
    padding: 0.15rem;
    font-weight: normal;
    font-size: 1.05rem;
}

#history img {
    filter: invert(100%);
    margin-bottom: 0.3rem;
}

#history .add {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: .75rem;
}

#love p {
    padding-top: 0.1rem;
}

#setup {
    padding-left: 1rem;
    padding-right: 1rem;
}

#setup h2 {
    padding-bottom: 1rem;
}

#chosen input {
    margin-bottom: .5rem;
}

#chosen label {
    font-size: 1.05rem;
    padding-left: 0.5rem;
}

#chosen p {
    font-size: .85rem;
    color: #778899;
}

#chosen h4, #chosen .delete {
    text-align: center;
}

/* ==== administration ==== */

.views__list li {
    list-style: none;
    text-align: center;
    margin-bottom: 0.8rem;
}

.views__list li::after {
    display: block;
    content:"";
    width: 100px;
    height: 1px;
    background: var(--orange);
    position: absolute;
    left: 50%;
    margin-left: -50px;
    transform: translateY(0.4rem);
}