/* @import */

:root {
    --blue:#488cff;
    --lightblue :#add8e6;
    --orange:#ffcc35;
    --lightorange:#f8dc77;
    --black:#1a1a1a;
    --white:#ffffff;
    --darkwhite:#efefef;
    --lightgrey-o7:rgb(67, 72, 72,0.7);
    --lightgrey: #434848;
    --darkgrey:#2e3333;
    --green: #afff90;
    --darkgreen: #78FE46;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--black);
}


html {
    background-color: var(--darkwhite);
}

body.no-scroll {
    overflow: hidden;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 2rem;
}


a {
    text-decoration: none;
}

.invisible {
    display: none;
    font-size: 1rem;
}


._borderradius5 {
    border-radius: 5px;
}

._borderradius10 {
    border-radius: 10px;
}

._dp_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

._dp_flex {
    display: flex;
}

._w_30 {
    width: 30%;
}

._w_50 {
    width: 50%;
}

._w_70 {
    width: 70%;
}

._w_100 {
    width: 100%;
}

._line_height {
    line-height: 1.3rem;
}

._padding_block_1 {
    padding-block: 1rem;
}

._background_color_blue {
    background-color: var(--blue);
}




/* =======header======= */


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--orange);
    position:fixed;
    width: 100%;
    top: 0;
    z-index:99;
    left: 0;
}

nav a {
    padding:0;
}

.container {
    margin-inline: 4rem;
}

nav a {
    padding:0;
}

.header-logo {
    height: auto;
    width: 4rem;
}

.header-container {
    display: flex;
    align-items: center;
    height: 67.6px;
}

.header-container a {
    text-decoration: none;
}

#header-dropdown-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size : 16px;
    width: fit-content;
    height: 100%;
    margin-inline: 1rem;
    padding-inline: 1rem;
    cursor: pointer;
    background-color: var(--orange);
}

#header-dropdown-button:hover {
    min-width: 80px;
    height: 35px;
    border-radius: 30px;
    background-color: var(--darkwhite);
}

.header-button-1 {
    font-size : 16px;
    width: fit-content;
    min-width: 80px;
    height: 35px;
    border-radius: 30px;
    margin-inline: 1rem;
    padding-inline: 1rem;
    cursor: pointer;
    background-color: var(--orange);
}

.header-button-1:hover {
    background-color: var(--darkwhite);
}

.header-button-2 {
    font-size : 16px;
    width: fit-content;
    min-width: 80px;
    height: 35px;
    border-radius: 30px;
    margin-inline: 1rem;
    padding-inline: 1rem;
    cursor: pointer;
    background-color: var(--orange);
}

.header-button-2:hover {
    background-color: var(--darkwhite);
}

#header-dropdown-container {
    display: none;
    position: absolute;
    top: 68px;
    right: 100px;
    width: fit-content;
    height: fit-content;
    z-index: 1;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--lightgrey);
    background-color: var(--darkwhite);
}

#header-dropdown-container.open {
    display: block;
}

#header-dropdown-link {
    display: block;
    height: 20px;
    padding: 1rem;
}

#header-dropdown-link:hover {
    background-color: var(--lightorange);
}

#toggle-drawer {
    margin-inline: 1rem;
    padding-inline: 1rem;
    cursor: pointer;
    background-color: var(--darkwhite);
}

/* =======hero-banner======= */

.hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.hero-banner-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top : 4rem;
}

.hero-banner-search {
    width: fit-content;
}

.hero-banner-subtitle {
    font-size: 2rem;
    text-align: center;
}

.hero-banner-search-subtitle {
    font-size: 1.5rem;
    padding-block: 0.5rem;
}

.hero-banner form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hero-banner p {
    padding-block: 0.5rem;
}

#hero-search-bar {
    width: 75%;
    height: 4rem;
    padding: 1rem;
    border-radius: 30px;
    border: 2px solid;
    border-color: var(--black);
}

#search-bar {
    width: 400px;
    padding: 1rem;
    margin-block: 0.2rem;
    border-radius: 30px;
    border: 2px solid;
    border-color: var(--black);
}

.hero-search-bar-button {
    width: 20%;
    height: 3.5rem;
    font-size : 16px;
    border-radius: 40px;
    background-color: var(--lightorange);
    cursor: pointer;
}

.hero-search-bar-button:hover {
    background-color: var(--orange);
}

.submit-button {
    height: 3.5rem;
    width : 7rem;
    font-size : 16px;
    border-radius: 40px;
    background-color: var(--lightorange);
    cursor: pointer;
}

.submit-button:hover {
    background-color: var(--orange);
}

/* =======main======= */

.body-padding  {
    padding-inline: 4rem;
}

.main { 
    height: 60vh;
}

.main-container {
    height: 60vh;
    padding-inline: 1rem;
}

.restaurant-container {
    height: fit-content;
    padding-inline: 0;
    margin-top: 7rem;
}

.restaurant-wrap-container {
    height: 50vh;
}

.restaurant-box {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    width: 100%;
    height: fit-content;
}

.restaurant-title {
    display: inline-flex;
    padding-inline: 0.8rem;
    margin-block: 0.8rem;
    background-color: var(--orange);
    border-radius: 30px;
}

.restaurant-article-filter {
    margin-inline: 0.2rem;
    margin-block: 0.2rem;
}

.restaurant-id {
    border: 1px solid var(--darkwhite);
    box-shadow: 5px 2px 5px var(--darkwhite);
    background-color:var(--white);
}

.restaurant-id:hover {
    box-shadow: var(--lightgrey) 0px 4px 16px;
    transition: box-shadow 0.2s ease-in-out;
}

.restaurant-box li {
    list-style: none;
}

.restaurant-box img {
    width: 220px;
    height: auto; 
}

.logout-content {
    display: flex;
    justify-content: space-between;
    width: fit-content;
}

.logout-a {
    text-decoration: none;
    margin: 1rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logout-flex-container {
    height: 60vh;
}

.home-img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width : 100%;
    height: 100%;
    }

.home-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width : 100%;
    height: 100%;
    box-sizing: border-box;
    background-image: url('../img/chicken.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

#index-main-container {
    padding-inline: 8rem;
    padding-block: 4rem;
}

.index-main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 4rem;
    width: 100%;
}

.index-main-photo {
    border-radius: 25px;
    width: 300px;
    height: auto;
}

.index-main-text {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width:40%;
    padding: 1rem;
    height: 250px;
    text-wrap: balance;
    background-color: var(--white);
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.index-main-text p {
    text-align: center;
    line-height: 1.5rem;;
}

/* =======footer======= */

footer {
    background-color: var(--darkgrey);
    width: 100%;
    height: 240px;
}

footer a {
    padding:0;
}

.footer-container {
    display: flex;
    padding-block: 2rem;
}

#footer-content {
    display: flex;
    justify-content: center;
    width: 100%;

}

.contact-footer-box {
    background-color: var(--lightgrey);
    padding: 1rem;
    margin-inline: 1rem;
}

.contact-footer-box span {
    width: 50px;
    height: 50px;
}

.contact-footer-box img {
    width: 50px;
    height: 50px;
}

.footer-box {
    display: flex;
    flex-direction: column;
    width : 150px;
    padding: 1rem;
    margin-inline: 1rem;
    background-color: var(--lightgrey);
}

.footer-box a {
    color: var(--white);
}

.footer-box-title {
    text-align: center;
    padding-bottom: 0.5rem
}

.footer-box-title h2 {
    color: var(--white);
}

.footer-box-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-box-icons span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.footer-box-icons a {
    text-decoration: none;
}

.footer-box-padtop {
    display: flex;
    flex-direction: column;
}

.links {
    padding-block: 0.5rem;
}

/* =======sections cachées en desktop======= */

.mobile-footer-container {
    display: none;
}

.mobile-header-button {
    display: none;
}

.item-added {
    background-color: red; /* Example color, adjust as needed */
    color: blue; /* Example color, adjust as needed */
}


/* =======customers======= */


.subtitle {
    display: flex;
}

#profile .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-inline: 0rem;
}

#page__title {
    text-align: center;
    background-color: var(--orange);
}

#profile .grid {
    display: flex;
    flex-direction: column;
}

.together {
    padding-top: 0.75rem;
    padding-bottom: .75rem;
    display: flex;
    flex-direction: column;
}

.clients__alone {
    display: flex;
    flex-direction: row;
}

#profile .grid__item__left {
    padding-left: .5rem;
    padding-right: .4rem;
    font-weight: bold;
    width: 7rem;
}

#profile p {
    line-height: 1.75rem;
    font-size: 1.05rem;
}

#identity, #love {
    background-color: var(--orange);
}

#identity {
    padding-top: 0.5rem;
}

.change {
    display: flex;
    justify-content: center;
}

#history, #setup {
    background-color: var(--black);
}

#history h2, #history p, #setup h2, #setup label, #setup p, #setup h4 {
    color: var(--white);
}

#history h2, #love h2 {
    padding-bottom: 0.75rem;
}

#history .first {
    color: var(--white);
    padding: 0.15rem;
    font-size: 1.05rem;
}

#history .follow {
    color: var(--white);
    padding: 0.15rem;
    font-weight: normal;
    font-size: 1.05rem;
}

#history img {
    filter: invert(100%);
    margin-bottom: 0.3rem;
}

#history .add {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: .75rem;
}

#love p {
    padding-top: 0.1rem;
}

#setup {
    padding-left: 1rem;
    padding-right: 1rem;
}

#setup h2 {
    padding-bottom: 1rem;
}

#chosen input {
    margin-bottom: .5rem;
}

#chosen label {
    font-size: 1.05rem;
    padding-left: 0.5rem;
}

#chosen p {
    font-size: .85rem;
    color: #778899;
}

#chosen h4, #chosen .delete {
    text-align: center;
}

/* ==== administration ==== */

.views__list li {
    list-style: none;
    text-align: center;
    margin-bottom: 0.8rem;
}

.views__list li::after {
    display: block;
    content:"";
    width: 100px;
    height: 1px;
    background: var(--orange);
    position: absolute;
    left: 50%;
    margin-left: -50px;
    transform: translateY(0.4rem);
}

#management {
    margin-top: 5rem;
}

#management a {
    text-decoration: underline;
}

.grid__item__view.hide {
    display: none;
}

.grid__item__view {
    display: block;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.grid_nav a.active {
    color: var(--lightgrey);
}

#man__search {
    display: grid;
    justify-items: center;
}

.submit__button {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.views__list {
    padding-bottom: 1rem;
    max-width: 50rem;
    margin-inline: auto;
}

.change__icon {
    width: 15px;
    height: 15px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding-top: 0.2rem;
}

.add_shop {
    text-align: center;
    margin-bottom: 1.5rem;
}

.wrapTable {
	margin-top: 0px;
	.tableHeader {
		padding: 20px 0;
		border-bottom: 1px solid #333;
		background-color: #ddd;
		display: flex;
		flex-direction: row;
		align-items: center;
        text-align: center;
		.iteman {
			width: 20%;
            background-color: none;
			&.col1 {
				width: 40%;
			}
			&:nth-child(1) {
				padding-left: 15px;
			}
		}
	}
	.oneRow {
		padding: 20px 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #555;
        text-align: center;
		.iteman {
			margin: 0;
			width: 20%;
            background-color: none;
			&.col1 {
				width: 40%;
			}
		}
	}
}

.span {
    background-color: none;
}

#z {
    list-style: none;
    text-align: center;
    margin-bottom: 0.8rem;
}

#f__table {
    text-align: center;
    padding-bottom: 2rem;
}

#f__table a.active {
    display: none;
}

#f__report {
    text-align: center;
    padding-bottom: 2rem;
}

#f__report a.active {
    display: none;
}

.views__list.hide {
    display: none;
}

.data__shop table {
    display: flex;
    justify-content: center;
    text-align: center;
}

.data__shop tr {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.administration-shop-button {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    height: 3.5rem;
    width: 7rem;
    font-size: 16px;
    border-radius: 40px;
    background-color: var(--lightorange);
    cursor: pointer;
}


/* =====restaurant===== */

.resto-id {
    display: flex;
    width: 100%;
    height: fit-content;
    margin-top: 8rem;
}

.resto-id-text {
    padding-left: 2rem;
    justify-content: start;
}

.resto-id-text p {
    padding-block: 0.5rem;
}

.resto-id-specs {
    width: 100%;
}

#resto-id-photo {
    width: 300px;
    height: auto;
}

#resto-nav {
    position: sticky;
    top: 80px;
    width: 100%;
    height: fit-content;
    width: 150px;
    padding-left: 2rem;
    margin-top: 121px;
    background-color: var(--white);
    border-top: 1px solid var(--lightgrey);
    border-right: 1px solid var(--lightgrey);
    border-bottom: 1px solid var(--lightgrey);
}

#resto-nav a {
    padding: 0.5rem;
    margin:0.5rem;
    text-decoration: none;
}

#resto-anchors {
    justify-content: unset;
    align-items: unset;
    padding-block: 1rem;
}

.resto-resume {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-block: 2rem;
}

.book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 340px;
    border: 1px solid var(--lightgrey);
    background-color: var(--white);
}

#book-content {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
}

#book-content h3 {
    text-align: center;
}

#book-button:hover {
    background-color: var(--darkgreen);
}

#book-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 90%;
}

#book-info div {
    padding-block: 0.1rem;
}

#book-info button {
    margin-inline: auto;
    width: 50%;
    padding-block: 0.2rem;
    margin-block: 0.2rem;
    background-color: var(--lightorange);
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
}

#book-info button:hover {
    background-color: var(--orange);
}

#book-button:hover {
    background-color: var(--orange);
}

.photo-plat {
    width: 220px;
    height: 150px;
    object-fit: cover
}

.list-container{
    display: flex;
    justify-content: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    width:90%;
}

.item {
    margin-inline: 0.2rem;
    margin-block: 0.2rem;
    background-color: var(--white);
    cursor: pointer;
}

.item:hover {
    box-shadow: var(--lightgrey) 0px 4px 16px;
    transition: box-shadow 0.2s ease-in-out;
}

.item a {
    display: inline-block;;
    text-decoration: none;
}

.item-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content
}

.item-description{
    height:max-content;
    padding: 0.2rem;
}

.item p {
    padding-block: 0.2rem;
}

.item-button {
    padding: 0.2rem;
    display: flex;
    justify-content: end;
    align-content: end;
}

.item-button button {
    padding: 0.4rem;
    background-color: var(--lightorange);
    width: 30px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
}

.item-button button:hover {
    background-color: var(--orange);
}

.resto-subtitle {
    padding: 1rem;
    width: 100%;
    padding-top: 5rem;
}

/* =======Restaurant.php POP-UP ======= */

#popup-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:var(--lightgrey-o7);
    z-index:100;
    display:none;
}

#popup-overlay.open {
    display: block !important;
}

.popup-content {
    display: flex;
    flex-direction: column;
    width:450px;
    height: 90vh;
    max-height: 800px;
    padding: 1rem;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background-color: var(--white);
}

.popup-content img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    background-color: var(--darkwhite);
}

#popup-img-content {
    display: block;
}


#popup-img-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#popup-button-addToCart {
    width:100%;
    height: 50px;
    background-color: var(--lightorange);
}

#popup-button-addToCart:hover {
    background-color: var(--orange);
}


#popup-button-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    cursor: pointer;
    background-color: var(--lightorange);
    border-bottom-left-radius: 10px;
}

#popup-button-close:hover {
    background-color: var(--orange);
}


.quantity-controls {
    display: flex;
    align-items: center;
    position: relative;
    width: 100px;
    right:66.5px;
    top:-6.5px;
}

.quantity-controls .quantity {
    font-size: 18px;
    width: 30px;
    text-align: center;
}

/* ============DRAWER=================== */

#restaurant-drawer-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:var(--lightgrey-o7);
    z-index:100;
    display:none;
}

#restaurant-drawer-overlay.open {
    display: block !important;
}

#restaurant-drawer-content {
    padding: 1rem;
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 90%;
    background: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#restaurant-drawer-content.open {
    right: 0;
}

#restaurant-drawer-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    position: relative;
    top:40px;
    padding-inline: 2rem;;
}

#drawer-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    border-radius: 5px;
}

#drawer-button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width : 300px;
    height: 50px;
}

#restaurant-button-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    cursor: pointer;
    background-color: var(--lightorange);
    border-bottom-left-radius: 10px;
}

#restaurant-drawer-item-content {
    width:100%;
    padding-block: 1rem;
}

#restaurant-drawer-item {
    display: flex;
    
}

#restaurant-drawer-cart-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block : 0.5rem;
}

#restaurant-drawer-item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block : 0.5rem;
    width:100%;
}

#restaurant-drawer-item-quantity {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
}

#restaurant-drawer-item-quantity button{
padding: 0.4rem;
background-color: var(--lightorange);
width: 30px;
height: 30px;
border-radius: 30px;
cursor: pointer;
}


/* =======Restaurant.php <article> indisponible => n'apparait pas ======= */

.unavailable {
    display: none;
}

/* ======= FOOD FILTER ======= */

#index-food-filter-main {
    display: flex;
    margin-inline: auto;
    padding-inline: 2rem;
    max-width : 660px;
    overflow: hidden;
}

#index-food-filter-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
}

#index-food-filter-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    margin-inline: 1rem;
    flex: 0 0 auto;
}

.index-food-filter-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    width : 80px;
    height: 80px;
    border-radius: 100px;
    cursor: pointer;
    background-color:transparent;
}

.index-food-filter-button.active {
    background-color: var(--orange)
}

.index-food-filter-icon {
    width: 60px;
    height: 60px;
}

.index-slides-container {
    position: relative;
    display: flex;
    width : 500px;
    margin-inline: auto;
}

.index-slides-content {
    display: flex;
    margin-inline: auto;
    width: 80%;
    overflow: hidden;
}

.index-slider-btn {
    padding: 1rem;
    height: 60px;
    top: 10px;
}

#index-slider-btn-prev {
    position:absolute;
    background: none;
    font-size: 2.5rem;
    z-index: 1;
    cursor: pointer;
    transform: translateY(-10%);
    left: 0;
}

#index-slider-btn-next {
    position:absolute;
    background: none;
    font-size: 2.5rem;
    z-index: 1;
    cursor: pointer;
    transform: translateY(-10%);
    right: 0;
}

.slide {
    margin-inline: auto;
}

.visible {
    opacity: 1;
}

.slide p {
    text-align: center;
}


/* ======= CLIENTS.php ======= */

.clients__icon {
    width: 15px;
    height: 15px;
    margin-top: 0.3rem;
    margin-left: 0.5rem;
    padding-top: 0.3rem;
}

.clients__icon__intern {
    width: 15px;
    height: 15px;
    margin-left: 0.5rem;
}

.identity__icon {
    width: 15px;
    height: 15px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding-top: 0.2rem;
}

.identity__icon2 {
    width: 15px;
    height: 15px;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

#pay__select, #invoice__select {
    font-size: .9rem;
    background-color: var(--orange);
    margin-bottom: .1rem;
}

#type__select, #favorite__select {
    font-size: .9rem;
    background-color: var(--orange);
    margin-bottom: .4rem;
}

.clients__buttons__yellow {
    background-color: var(--orange);
}

.clients__buttons__yellow:hover {
    cursor: pointer;
}

.clients__buttons__black {
    background-color: var(--black);
}

.clients__buttons__black:hover {
    cursor: pointer;
}

.option {
    font-size: .9rem;
    background-color: var(--orange);
    padding: 1rem;
}

.option:hover {
    background-color: var(--green);
}

#invoice__newp {
    display: flex;
    flex-direction: column;
    width: 100%;
}


#clients__newp {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.selector {
    display: flex;
    flex-direction: row;
}

.close__invoice {
    display: flex;
    flex-direction: row;
}

#invoice__button {
    margin-bottom: .8rem;
}

.add__type, .change__type, .add__invoice {
    height: 2rem;
    border: solid;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 0.1rem;
    border-radius: 6%;
    margin-bottom: .4rem;
    width: 100%;
}

#chosen2 p {
    font-size: .85rem;
    color: #778899;
}

#delete__picture {
    display: grid;
    max-width: 20%;
    margin-inline: auto;
    margin-top: 1rem;
}

.Me {
    max-width: 10rem;
}

.bsure {
    display: grid;
    text-align: center;
    justify-items: center;
    margin-inline: auto;    
}

.psure {
    display: grid;
    text-align: center;
    margin-inline: auto;    
}

.csure {
    display: grid;
    text-align: center;
    justify-items: center;
    margin-inline: auto;
}

.clients__favorite {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bye:hover, #bye0:hover {
    cursor: pointer;
}

.hiden {
    display: none;
}

/* ======= CHECKOUT.php ======= */

#checkout-body {
    display: flex;
    justify-content: space-around;
    margin-top :5rem;
    margin-bottom: 4rem;
    min-height: 70vh;
    padding-inline: 6rem;
}

#checkout-container-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    padding: 1rem;
}

#checkout-content {
    padding: 1rem;
    background-color: var(--white);
    border-radius: 30px;
    margin-block : 1rem;
}

#checkout-content-title {
    margin-bottom: 1rem;
}

#checkout-content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#checkout-button-box {
    padding: 1rem;
}

.cart-modify-button {
    padding-inline: 1rem;
    padding-block:0.5rem;
    background-color: var(--lightorange);
    border-radius: 30px;
}

.cart-modify-button:hover {
    background-color: var(--orange);
}

#checkout-container-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    padding: 1rem;
}

#checkout-item-box {
    padding: 1rem;
    height: 300px;
    width: 100%;
}

#checkout-delivery-address-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

#checkout-item-recap {
    padding: 1rem;
    height: fit-content;
    width: 100%;
}

#checkout-radio-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width : 500px;
    padding : 0.5rem
}

#checkout-address-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:1rem;
    padding-block: 1rem;
    width: 280px;
    cursor: pointer;
}

#checkout-payement-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:1rem;
    padding-block: 1rem;
    width: 280px;
    cursor: pointer;
}

#add-icon {
    cursor: pointer;
    padding: 0.5rem;
}

#checkout-item {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-block: 1rem;
}

#confirm-order-button {
    padding-inline: 1rem;
    padding-block:0.5rem;
    background-color: var(--lightorange);
    border-radius: 30px;
    width: 100%;
    height:50px;
}

#confirm-order-button:hover {
    background-color: var(--orange);
}

/* ======= CREATE.php ======= */

#create-super-container {
    width : 60%;
    margin-inline: auto;
}

.create-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:7rem;
    width: 100%;
    /* creer un conteneur pour les formulaires  */
    /* passage en colonne pour mobile */
}

#create-container-presentation {
    margin-top:4rem;
}

#add__top {
    justify-content: space-around;
    width:100%;
    margin-top:2rem;
    /* modifier la width + margin induites par la classe reso-id */
        /* adapter la width à la taille de la div contenant add__top*/
}

@media screen and (min-width: 1027px) {

    #add__top {
        margin-left: 4rem;
    }
}

#add__item {
    justify-content: space-around;
    width:100%;
    margin-top:2rem;
    /* modifier la width + margin induites par la classe reso-id */
    /* adapter la width à la taille de la div contenant add__item */
}


#add .picture {
    margin-top: 2rem;
}

#item-select {
    margin-bottom: 1rem;
}

#create__test {
    text-align: right;
}

#add__shop, #add__hours, #add__type, #add__kg, #add__order, #add__make, #add__phone, #add__name {
    height: 2rem;
    border: solid;
    border-width: 0.1rem;
    border-radius: 6%;
    margin-bottom: .5rem;
    width: 100%;
}

#inputss {
    text-align: center;
}

#add__shop, #add__order, #add__phone {
    width: 60%;
}

#add__hours {
    margin-top: 1.5rem;
}

#add__picture {
    display: flex;
    flex-direction: column;
}

#add__img {
    width: 100%;
}

#add__inputs {
    display: flex;
    flex-direction: row;
}

#add__price {
    height: 2rem;
    border: solid;
    border-width: 0.1rem;
    border-radius: 6%;
    margin-bottom: .5rem;
    width: 100%;
}

#add__things__item {
    border: solid;
    border-width: 0.1rem;
    border-radius: 6%;
    width: 100%;
}

#add__things {
    border: solid;
    border-width: 0.1rem;
    border-radius: 6%;
    width: 100%;
}

#create__shop {
    display: flex;
}

#add__description {
    justify-content: center;
    padding-inline:0;
    padding-block: 0;
    width:100%
    /* alignement via justify-content */
}

#create__button {
    margin-bottom: 1rem;
    width: 8rem;
}

/* ======= INSCRIPTION ======= */

.inscription-title {
    text-align: center;
    padding-block: 2rem;
}

.inscription-container form {
    display: unset;
}

#login-title {
    text-align: center;
    padding-block: 2rem; 
}

#login-form-container {
    display: flex;
    width: 100%;
    height: 100%;
}

#login-form {
    flex-direction: column;
    width : 100%;
}

#login-search-bar {
    width: 400px;
    padding: 1rem;
    margin-block: 0.2rem;
    border-radius: 30px;
    border: 2px solid;
    border-color: var(--black);
}

#login-error-message {
    font-size: 16px;
    padding-block:0.5rem;
}

.questionnaire {
    display: flex;
    width: 90%;
    justify-content: center;
}

.inscription-undertitle {
    text-align: center;
}

#inscriptionrestaurant-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.inscriptionrestaurant-container {
justify-content: center;
margin-top: 4rem;
width:80%;
}

.container-inscrirestau {
    display: flex;
    height: 100%;
    width: 100%;
    margin-block : 3rem;
}

.section-inscrirestau {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.inscriptionrestaurant-title {
text-align: center;
width: 100%;
}

.questionnaire-inscrirestau {
display: flex;
justify-content: center;
width: 100%;
}

#inscription-restaurant-search-bar {
width: 80%;
padding: 1rem;
margin-block: 0.2rem;
border-radius: 30px;
border: 2px solid;
border-color: var(--black);
}

.inscription-confirmation-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit-button-inscription {
    margin-top: 0.4rem;
    margin-bottom: 2rem;
    height: 3.5rem;
    width: 7rem;
    font-size: 16px;
    border-radius: 40px;
    background-color: var(--lightorange);
    cursor: pointer;
}

.login-submit-button {
    margin-block : 0.5rem;
    height: 3.5rem;
    width : 7rem;
    font-size : 16px;
    border-radius: 40px;
    background-color: var(--lightorange);
    cursor: pointer;
}

/* ======= MENTIONS LEGALES ======= */

.mentions-container{
    text-align: center;
    width: 90%;
}

.mentions-section-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.sectionmentions1 {
    display: block;
    float: left;
    background-color: #434848;
    width: 30%;
    margin-right: 2.5%;
    padding: 1%;
    }

    .sectionmentions2 {
    background-color: #2e3333;
    width: 30%;
    padding: 1%;
    }

    .sectionmentions3 {
    display: block;
    float: right;
    background-color: #434848;
    width: 30%;
    margin-left: 2.5%;
    padding: 1%;
} 

.titresectionmention {
    text-align: center;
    color: #ffffff;
    font-size: 125%;
    width: 100%;
    padding: 1%;
    text-decoration: underline;
}

.textmention {
    text-align: center;
    color: #ffffff;
    font-size: 100%;
    width: 100%;
    padding: 1%;
}

/* ======= COND GENERALES  ======= */

.ConditionsGeneralesHeroBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 297vh;
}

.ConditionsGeneralesContainer1 {
    justify-items: center;
    width: 95%;
    height: 90%;    
}

.ConditionsGeneralesSection1 {
    position: fixed;
    float: left;
    width: 20%;
    background-color: #434848;
    justify-items: center;
}

.ConditionsGeneralesSection2 {
    display: block;
    float: right;
    height: 100%;
    width: 75%;
    text-align: center;
    background-color: #2e3333;
}

.ConditionsGeneralesUtilisationTitre {
    font-size: 160%;
    color: white;
    text-decoration: underline;
    padding: 1%;
}

.ConditionsGeneralesUtilisationTitre2 {
    font-size: 160%;
    color: white;
    text-decoration: underline;
    padding: 1%;
}

.ConditionsGeneralesUtilisationTitre3 {
    font-size: 160%;
    color: white;
    text-decoration: underline;
    padding: 1%;
}

.ConditionsGeneralesChartreText {
    font-size: 110%;
    color: white;
    padding: 1%;
}

.ConditionsGeneralesbutton {
    display: flex;
    background-color: #afff90;
    width: 92px;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
}

.ConditionsGeneralesbuttoncontainer {
    padding-bottom: 5%;
    padding-top: 5%;
}

/* ======= RESPONSIVE ======= */


@media screen and (max-width: 800px) {

    .footer-container {
        display:none;
    }

    h1{
        font-size: 3.5rem;
    }

    p {
        font-size: 1rem;
    }

    header {
        width: 100%;
    }

    nav {
        /* padding-left : 1rem;
        padding-right: 1rem; */
        justify-content: unset;
    }

    #hero-search-bar {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-block: 1rem
    }

    .body-padding {
        padding-inline: 1rem;
    }

    .header-container{
        width: 100%;
        justify-content:right;
        padding-inline: 1rem;
    }

    .header-logo {
        width: 4rem;
        height: auto;
    }

    .button-text {
        display: none;
    }

    #header-dropdown-button {
        display: none;
    }

    .header-button-1 {
        display: none;
    }

    .header-button-2 {
        display: none;
    }

    .mobile-header-button {
        display: flex;
        justify-content: center;
        align-content: center;
        cursor: pointer;
        width: 50px;
        background-color: var(--darkwhite);
        padding: 0.2rem;
        border-radius: 15px;
        margin-inline: 1.2rem;
    }


    .hero-banner {
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: unset;
        height: 70vh;
        padding-inline: 1rem;
        margin-bottom: 0;
    }

    .hero-banner p {
        font-size : 1rem;
    }

    .hero-banner-search {
        width: 100%;
    }

    .hero-banner-search-subtitle {
        font-size: 1rem;
        text-align: center;
    }
    

    .hero-banner-text {
        display: flex;
        flex-direction: column;
        margin-inline: auto;
        text-align: center;
        text-wrap: balance;
    }

    .hero-banner form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hero-banner button  {
        width: 5rem;
        height: 3rem;
        margin-inline: auto;
    }

    .mobile-footer-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .main {
        display: none;
    }

    .restaurant-container {
        padding-top: 0;
    }

    .restaurant-id {
        margin-inline: 0;
        border:none;
        box-shadow: none;
    }

    .restaurant-box img {
        width: unset;
        max-width: 300px;
        height: auto; 
        aspect-ratio: unset;
    }

    .restaurant-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        text-align: center;
        background-color: var(--orange);
    }

    #resto-nav {
        display: none;
    }

    .resto-id {
        flex-direction: column;
    }

    #resto-id-photo {
        display: flex;
        margin-inline: auto;
    }

    .mobile-resto-presentation {
        width: 100%;
    }

    .resto-id-text {
        padding-left:0;
    }

    .resto-resume {
        flex-direction: column;
    }

    .resto-resume h3 {
        text-align: center;
    }

    .resto-subtitle {
        padding-top:2rem;
    }

    .popup-content {
        width:90vw;
        height: 70vh;
        padding: 1rem;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        background-color: var(--white);
    }

    #book-date {
        height : 2.5rem;
        font-size: 1rem;
    }

    .book-container {
        margin-inline: auto;
        margin-top: 1.5rem;
    }

    .item {
        width: 90%;
        max-width: 300px;
        margin: auto;
        margin-block: 1rem;

    }

    .photo-plat {
        width: 100%;
    }

    .footer-box {
        min-width: 40%;
        height: unset;
        padding: 0;
        padding-inline: 1rem;
        border: unset;
        background-color: var(--lightgrey);
        padding: 1rem;
    }

    .footer-content-1 {
        display:flex;
        justify-content: space-around;
        margin-inline: auto;
        width: 90%;
    }

    .footer-content-2 {
        height: unset;
        padding-top: 1rem;;
        padding-inline: 1rem;
        margin-inline: auto;
        border: unset;
        background-color: unset;
        border-radius: unset;
    }

    .footer-content-2 h2 {
        color: var(--white);
        text-align: center;
    }

    .footer-box h2 {
        text-align: center; 
        color: var(--white) ;
    }

    .footer-box-padtop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0;    
    }

    .footer-box-padtop-1 a {
        padding: 0.5rem;
    }

    .footer-box-padtop a {
        display: flex;
        align-items: center;
        padding-top: 0.5rem;
    }

    .footer-box-padtop img {
        width:50px;
        height: 50px;
    }

    .footer-box-padtop span {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        width: 50px;
        height: 50px;
    }

    .box-1 {
        display: unset!important;
    }

    .resto-id {
        margin-top: 5rem;
        flex-direction: column;
    }

    #resto-id-photo {
        display: flex;
        margin-inline: auto;
    }

    #resto-nav {
        display: none;
    }

    .list {
        display: flex;
        justify-content: center;

    }

    .photo-plat {
        width: 100%;
        max-width : 366.2px
    }

    .resto-id-title {
        width: 100%;
        text-align: left;
    }

    .resto-resume {
        flex-direction: column;
        padding-block: 2rem;
    }

    .mobile-resto-presentation {
        width: 100%;
    }

    .mobile-resto-presentation h3 {
        text-align: center;
    }

    #book-button {
        margin-right:0;
    }

    .item-button {
        display: none;
    }

    .footer-box {
        margin-inline: 0.2rem;
    }
    
    .inscription-container {
        justify-content: center;
    }

    .inscription-title {
        margin-top: 15%;
    }
    
    .inscription-container {
        display: block;
        justify-content: center;
    }

    .inscription-confirmation-button {
        margin-top: 10%;
        margin-bottom: -30%;
    }
    
    .inscription-container {
        justify-content: center;
        margin-left: 100%;
    }

    .inscription-confirmation-button {
        margin-top: 10%;
        margin-bottom: -30%;
    }

    .mobile-login-form {
        width: 100%;
    }

    #restaurant-drawer-content {
        top: 10vh;
        width: 90vw;
        height: 80vh;
    }

    #index-food-filter-container {
        display: flex;
        overflow: auto;
        white-space: nowrap;
        margin-top: 0;
        justify-content: unset;
    }

    #index-food-filter-content {
        flex: 0 0 auto;
    }

    .index-food-filter-button {
        white-space: nowrap;
        background-color: var(--darkwhite);
    }

    #index-food-filter-carousel-control-prev {
        display: none;
    }

    #index-food-filter-carousel-control-next {
        display: none;
    }

    #index-food-filter-main {
        padding-inline: 0;
    }

    .restaurant-article-filter {
        margin-inline : auto;
    }
    #checkout-body {
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
        margin-top :6rem;
        margin-bottom: 2rem;
        min-height: unset;
        height: fit-content ;
        padding-inline: 10px;
    }

    #checkout-container-left {
        width: 100%;
        padding: 0;
    }

    #checkout-content {
        margin-block: 1rem;
    }

    #checkout-container-right {
        width: unset;
        padding: 0;
    }

    #inscriptionrestaurant-main {
        height: fit-content;
        margin-top : 4rem;
        margin-bottom: 4rem;
    }

.inscriptionrestaurant-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top : 2rem;
}

.container-inscrirestau {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 1rem;
}

.section-inscrirestau {
    width: 100%;
}

#index-main-container {
    display: flex;
    flex-direction: column-reverse;
    padding-inline: 1rem;
    padding-block: 0;
}

.index-main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-block: 2rem;
    width: 100%;
}

#index-main-content-2 {
    flex-direction: column-reverse;
}

.index-main-photo {
    width: 300px;
    height: auto;
}

.index-main-text {
    width:80%;
}

.index-main-text h3 {
    padding-block: 2rem;
}

.index-main-text p {
    padding-block: 1rem;
}

#header-dropdown-container {
    right:80px;
}

.hero-search-bar-button {
    background-color: var(--orange);
    font-size: 14px;
}

#delete__picture {
    max-width: 60%;
}

.titresectionmention {
    font-size: 90%;
}

.textmention {
    font-size: 59%;
}

.mentions-section-container {
    margin-left: 5%;
}

.index-slides-container  {
    width: 100%;
}


/* ======= COND GENERALES RESPONSIVE ======= */


@media screen and (max-width: 1050px) {

    .ConditionsGeneralesHeroBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350vh;
    }
}

@media screen and (max-width: 850px) {

    .ConditionsGeneralesHeroBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400vh;
    }
}

@media screen and (max-width: 700px) {

    .ConditionsGeneralesHeroBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 450vh;
    }
}

@media screen and (max-width: 600px) {

    .ConditionsGeneralesHeroBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500vh;
    }
}

@media screen and (max-width: 500px) {

    .ConditionsGeneralesHeroBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600vh;
    }
}

@media screen and (max-width: 450px) {

    .ConditionsGeneralesHeroBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 650vh;
    }
}

}





































































































































/*==============MATHIS==============*/
/*===VALIDATION LIVRAISON===*/

.validlivraison-hero-banner {
    display: flex;
    flex-direction: column;
    height: 79vh;
    width: 100%;
}

.validlivraison-container1 { 
    display: block;
    width: 100%;
    height: 9%;
    background-color:#efefef;
    text-decoration: underline 2px;
    position: relative;
    top: 15%;
}

.validlivraison-section1 { 
    width: 75%;
    height: 100%;
    background-color: #ffcc35;
    justify-self: center;
    display: flex;
    text-align: center;
    font-size: 225%;
    justify-content: center;
    padding-top: 1%;
}

.validlivraison-container2 { 
    display: block;
    width: 100%;
    height: 30%;
    text-align: center;
    background-color: var(--darkwhite);
    position: relative;
    top: 25%;
}

.validlivraison-container3 { 
    display: block;
    width: 100%;
    height: 10%;
    text-align: center;
    background-color: var(--darkwhite);
    position: relative;
    top: 25%;
}

.validlivraison-section2 { 
    height: 100%;
    width: 42%;
    float: left;
    display: flex;
    justify-content: center;
    background-color: #ffcc35;
    margin-left: 5%;
    font-size: 100%;
    flex-direction: column;
}

.validlivraison-section3 { 
    height: 100%;
    width: 42%;
    float: right;
    display: flex;
    justify-content: center;
    background-color: #ffcc35;
    margin-right: 5%;
    font-size: 100%;
    flex-direction: column;
}

.validlivraison-section4 { 
    width: 41%;
    float: left;
    display: flex;
    background-color: var(--darkwhite);
    margin-left: 5%;
    font-size: 125%;
    flex-direction: column;
    padding-top: 5%;
}

.validlivraison-section5 { 
    width: 41%;
    float: right;
    display: flex;
    background-color: var(--darkwhite);
    font-size: 125%;
    flex-direction: column;
    padding-right: 6%;
    padding-top: 5%;
}

.validlivraison-titresection1 { 
    height: 15%;
    text-decoration: underline 3px;
    font-size: 200%;
    width: 100%;
}

.validlivraison-button1 {
    display: flex;
    background-color: #afff90;
    width: 102.5%;
    height: 75px;
    justify-content: center;
    align-items: center;
}

.validlivraison-button2 {
    display: flex;
    background-color: #ff0000e4;
    width: 102.5%;
    height: 75px;
    justify-content: center;
    align-items: center;    
}

.validlivraison-section6 {
    display: none;
}

@media screen and (max-width: 900px) {

    .validlivraison-section6 {
        display: block;
        font-size: 125%;
    }

    .validlivraison-hero-banner {
        height: 90vh;
        width: 90%;
        padding-left: 6%;
    }

    .validlivraison-section2 {
        font-size: 110%;
        height: 48%;
        width: 88%;
        margin-bottom: 2%;
    }

    .validlivraison-titresection1 { 
        display: flex;
        font-size: 125%;
        height: 5%;
        align-items: flex-start;
        justify-content: center;
    }

    .validlivraison-section3 {
        font-size: 110%;
        height: 50%;
        width: 88%;
        margin-bottom: 0%;
        margin-left: 5%;
    }

    .validlivraison-section1 {
        font-size: 150%;
        height: 80%;
    }

    .validlivraison-container2 {
        display: flex;
        height: 50%;
        flex-direction: column;
        top: 23.5%;
    }

    .validlivraison-containerbutton2 {
        padding-left: 30%; 
        padding-right: 4%;
        display: none;
    }

    .validlivraison-container3 {
        top: -40%;
    }

    .validlivraison-section4 {
        width: 86%;
        float: left;
        display: flex;
        background-color: var(--darkwhite);
        margin-left: 5%;
        font-size: 125%;
        flex-direction: column;
        padding-top: 2%;
    }

    .validlivraison-section5 {
        padding-top: 0%;
    }

    .validlivraison-buttonmobile1 {
        display: flex;
        background-color: #ff0000e4;
        width: 102.3%;
        height: 60px;
        justify-content: center;
        align-items: center;  
    }

    .validlivraison-containerbuttonmobile1 {
        position: relative;
        padding-left: 5%; 
        top: 180%;
        padding-right: 9%;
    }

    .validlivraison-container1 {
    top: 14%;
    height: 12%;
    }

    .validlivraison-button1 {
        height: 60px;
        }
}





























































































































































































































































































































































































































































































































/*====================MATHIS===========/*
/*====================YANNICK===========/*

/* ============ ORDER =================== */

#global__order {
    display: flex;
    flex-direction: row;
    margin-top: 67.6px;
    height: 75%;
}

.global__map {
    height: 100%;
    width: 60vw;
}

#map {
    height: 100%;
    width: 100%;
}

#side {
    width: 40%;
}

#data__order {
    height: 60%;
    display: flex;
    flex-direction: column;
    background-color: var(--orange);
}

#logo__side {
    display: flex;
    justify-content: center;
    width: 100%;
}

.picture__side {
    height: 120px;
    width: 120px; 
}

#your__order {
    display: flex;
    flex-direction: row;
}

.hours {
    text-align: center;
    width: 50%;
}

.hour {
    font-size: 60px;
}

.hour2 {
    font-size: 60px;
}

#hours__top p {
    color: rgb(12, 117, 26);
}

.size {
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

#order__cook2 {
    display: none;
}


#comments__order {
    text-align: center;
    background-color: var(--white);
    padding-top: 1rem;
}

#comments__order p {
    text-align: center;
    padding: .6rem;
    height: 10.75%;
    align-content: center;
}

#details__order {
    height: 18.2%;
    background-color: var(--orange);
    text-align: center;
}

.title__order h4 {
    padding-top: 1rem;
    margin-bottom: 1rem;
}

#img__order {
    padding-top: .5rem;
}

.people__order {
    border: solid;
    border-width: 1px;
    border-radius: 50%;
    margin-right: 2rem;
}

.locomotion__order {
margin-bottom: .5rem;
}

.horder {
    display: none;
}

.pictures_order {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1078px) {
    #logo__side {
        display: none;
    }

    #data__order {
        height: 55%;
    }

    #your__order {
        flex-direction: column;
    }

    .hours {
        text-align: center;
        width: 100%;
    }

    #hours__code {
        display: none;
    }

    .hour2, .hour {
        font-size: 50px;
    }

    .hours2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 5px;
    }

    #order__cook {
        display: none;
    }

    #order__cook2 {
        display: block;
    }

    #comments__order p {
        height: 12.7%;
    }

    #details__order {
        height: 21%;
    }
}

@media screen and (min-width: 1079px) {
    .hours2 {
        display: none;
    }
}










































































































































































































































































































































































































































































































/*====================YANNICK===========/*
/*====================THOMAS===========/*










































































































































































































































































































;