/* @import */

:root {
    --blue:#488cff;
    --lightblue :#add8e6;
    --orange:#ffcc35;
    --lightorange:#f8dc77;
    --black:#1a1a1a;
    --white:#ffffff;
    --darkwhite:#efefef;
    --lightgrey-o7:rgb(67, 72, 72,0.7);
    --lightgrey: #434848;
    --darkgrey:#2e3333;
    --green: #afff90;
    --darkgreen: #78FE46;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--black);
}

html {
    background-color: var(--darkwhite);
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 2rem;
}

/* a {
    padding: 1rem;
} */

._borderradius5 {
    border-radius: 5px;
}

._borderradius10 {
    border-radius: 10px;
}

._dp_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

._dp_flex {
    display: flex;
}

._w_30 {
    width: 30%;
}

._w_50 {
    width: 50%;
}

._w_70 {
    width: 70%;
}

._w_100 {
    width: 100%;
}

._line_height {
    line-height: 1.3rem;
}

._padding_block_1 {
    padding-block: 1rem;
}

._background_color_blue {
    background-color: var(--blue);
}




/* =======header======= */


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--orange);
    position:fixed;
    width: 100%;
    top: 0;
    z-index:99;
    left: 0;
}

nav a {
    padding:0;
}

.container {
    margin-inline: 4rem;
}

.header-logo {
    height: auto;
    width: 4rem;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
}

.header-container a {
    text-decoration: none;
}

.header-button-1 {
    width: 120px;
    padding: 0.5rem;
    background-color: var(--orange);
    cursor: pointer;
}

.header-button-1:hover {
    background-color: var(--darkgreen);
}

.header-button-2 {
    width: 120px;
    padding: 0.5rem;
    background-color: var(--green);
    cursor: pointer;
}

.header-button-2:hover {
    background-color: var(--darkgreen);
}

/* =======hero-banner======= */

.hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.hero-banner-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-banner-search {
    width: fit-content;
}

.hero-banner-subtitle {
    font-size: 2rem;
    text-align: center;
}

.hero-banner-search-subtitle {
    font-size: 1.5rem;
    padding-block: 0.5rem;
}

.hero-banner form {
    width: 100%;
    padding-block: 2rem;
}

#hero-search-bar {
    width: 80%;
    height: 4rem;
    padding: 1rem;
    border-radius: 30px;
    border: 2px solid;
    border-color: var(--black);
}

#search-bar {
    width: 100%;
    height: 4rem;
    padding: 1rem;
    border-radius: 30px;
    border: 2px solid;
    border-color: var(--black);
}

.hero-search-bar-button {
    width: 18%;
    height: 4rem;
    background-color: var(--green);
    cursor: pointer;
}

.hero-search-bar-button:hover {
    background-color: var(--darkgreen);
}

.submit-button {
    width: 80px;
    height: 40px;
    background-color: var(--green);
    cursor: pointer;
}

.submit-button:hover {
    background-color: var(--darkgreen);
}

/* =======main======= */

.body-padding  {
    padding-inline: 4rem;
}

.main { 
    height: 50vh;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--black);
}

.main-container {
    height: 60vh;
    padding-inline: 1rem;
}

.restaurant-container {
    height: fit-content;
    padding-inline: 0;
}

.restaurant-wrap-container {
    height: 50vh;
}

.restaurant-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height: fit-content;
}

.restaurant-title {
    display: inline-flex;
    background-color: var(--white);
}

.restaurant-id {
    margin-block: 1rem;
    margin-inline: 1rem;
    padding: 1rem;
    border: 1px solid var(--darkwhite);
    box-shadow: 5px 2px 5px var(--darkwhite);
    background-color:var(--white);
}

.restaurant-box li {
    list-style: none;
}

.restaurant-box img {
    width: 180px;
    height: auto; 
    aspect-ratio: 1/1;
}

.logout-content {
    display: flex;
    justify-content: space-between;
    width: fit-content;
}

.logout-a {
    text-decoration: none;
    margin: 1rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logout-flex-container {
    height: 60vh;
}

.home-img-container {
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-img-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-img {
    display: flex;
    justify-content: center;
    height: auto;
    width: 400px;
    object-fit: cover; 
}

/* =======footer======= */

footer {
    background-color: var(--darkgrey);
    width: 100%;
}

footer a {
    padding:0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    width: 60%;
    padding-block: 2rem;
}

.contact-footer-box {
    height: 6rem;
    background-color: var(--lightgrey);
    padding: 1rem;
}

.contact-footer-box span {
    width: 50px;
    height: 50px;
}

.contact-footer-box img {
    width: 50px;
    height: 50px;
}

.footer-box {
    display: flex;
    flex-direction: column;
    height: 6rem;
    padding: 1rem;
    background-color: var(--lightgrey);
}

.footer-box a {
    color: var(--white);
}

.footer-box-title {
    text-align: center;
}

.footer-box-title h2 {
    color: var(--white);
}

.footer-box-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-box-icons span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.footer-box-icons a {
    text-decoration: none;
}

.footer-box-padtop {
    display: flex;
    flex-direction: column;
}

.links {
    padding-block: 0.5rem;
}

/* =======sections cachées en desktop======= */

.mobile-footer-container {
    display: none;
}


/* =======customers======= */


.icon {
    width: 15;
    height: 15;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
    padding-top: 0.2rem;
}
.icon__intern {
    width: 15;
    height: 15;
    margin-left: 0.5rem;
}

.subtitle {
    display: flex;
}

#profile .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#page__title {
    text-align: center;
    background-color: var(--orange);
}

#profile .grid {
    display: flex;
    flex-wrap: wrap;
}

#profile .grid__item__left {
    padding-right: 2rem;
    font-weight: bold;
}

#profile p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.25rem;
    font-size: 1.05rem;
}

#identity, #love {
    background-color: var(--orange);
}

#identity {
    padding-top: 0.5rem;
}

#history, #setup {
    background-color: var(--black);
}

#history h2, #history p, #setup h2, #setup label, #setup p, #setup h4 {
    color: var(--white);
}

#history h2, #love h2 {
    padding-bottom: 0.75rem;
}

#history .first {
    color: var(--white);
    padding: 0.15rem;
    font-size: 1.05rem;
}

#history .follow {
    color: var(--white);
    padding: 0.15rem;
    font-weight: normal;
    font-size: 1.05rem;
}

#history img {
    filter: invert(100%);
    margin-bottom: 0.3rem;
}

#history .add {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: .75rem;
}

#love p {
    padding-top: 0.1rem;
}

#setup {
    padding-left: 1rem;
    padding-right: 1rem;
}

#setup h2 {
    padding-bottom: 1rem;
}

#chosen input {
    margin-bottom: .5rem;
}

#chosen label {
    font-size: 1.05rem;
    padding-left: 0.5rem;
}

#chosen p {
    font-size: .85rem;
    color: #778899;
}

#chosen h4, #chosen .delete {
    text-align: center;
}

/* ==== administration ==== */

.views__list li {
    list-style: none;
    text-align: center;
    margin-bottom: 0.8rem;
}

.views__list li::after {
    display: block;
    content:"";
    width: 100px;
    height: 1px;
    background: var(--orange);
    position: absolute;
    left: 50%;
    margin-left: -50px;
    transform: translateY(0.4rem);
}


/* =====restaurant===== */

.resto-id {
    display: flex;
    width: 100%;
    height: fit-content;
    margin-top: 8rem;
}

.resto-id-text {
    padding-left: 2rem;
    justify-content: start;
}

.resto-id-text p {
    padding-block: 0.5rem;
}

.resto-id-specs {
    width: 100%;
}

#resto-id-photo {
    width: 300px;
    height: auto;
}

#resto-nav {
    position: sticky;
    top: 80px;
    width: 100%;
    height: fit-content;
    width: 150px;
    padding-left: 2rem;
    margin-top: 121px;
    background-color: var(--white);
    border-top: 1px solid var(--lightgrey);
    border-right: 1px solid var(--lightgrey);
    border-bottom: 1px solid var(--lightgrey);
}

#resto-nav a {
    padding: 1rem;
    text-decoration: none;
}

#resto-anchors {
    justify-content: unset;
    align-items: unset;
    padding-block: 1rem;
}

.resto-resume {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-block: 2rem;
}

.book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 340px;
    border: 1px solid var(--lightgrey);
    background-color: var(--white);
}

#book-content {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
}

#book-content h3 {
    text-align: center;
}

#book-button:hover {
    background-color: var(--darkgreen);
}

#book-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 90%;
}

#book-info div {
    padding-block: 0.1rem;
}

#book-info button {
    margin-inline: auto;
    width: 50%;
    padding-block: 0.2rem;
    margin-block: 0.2rem;
    background-color: var(--lightorange);
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
}

#book-info button:hover {
    background-color: var(--orange);
}

#book-button:hover {
    background-color: var(--orange);
}

.photo-plat {
    width: 220px;
    height: auto;
    aspect-ratio: 16/9;
}

.list-container{
    display: flex;
    justify-content: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    width:90%;
}

.item {
    margin-inline: 0.2rem;
    margin-block: 0.2rem;
    background-color: var(--white);
    cursor: pointer;
}

.item:hover {
    box-shadow: var(--lightgrey) 0px 4px 16px;
    transition: box-shadow 0.2s ease-in-out;
}

.item a {
    display: inline-block;;
    text-decoration: none;
}

.item-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content
}

.item-description{
    height:max-content;
    padding: 0.2rem;
}

.item p {
    padding-block: 0.2rem;
}

.item-button {
    padding: 0.2rem;
    display: flex;
    justify-content: end;
    align-content: end;
}

.item-button button {
    padding: 0.4rem;
    background-color: var(--lightorange);
    width: 30px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
}

.item-button button:hover {
    background-color: var(--orange);
}

.resto-subtitle {
    padding: 1rem;
    width: 100%;
    padding-top: 5rem;
}

/* =======Restaurant.php POP-UP ======= */

#popup-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:var(--lightgrey-o7);
    z-index:100;
    display:none;
}

#popup-overlay.open {
    display: block !important;
}

.popup-content {
    display: flex;
    flex-direction: column;
    width:450px;
    height: 90vh;
    padding: 1rem;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background-color: var(--white);
}

.popup-content img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    background-color: var(--darkwhite);
}

#popup-img-content {
    display: block;
}


#popup-img-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#popup-button-addToCart {
    width:100%;
    height: 50px;
    background-color: var(--lightorange);
}

#popup-button-addToCart:hover {
    background-color: var(--orange);
}


#popup-button-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    cursor: pointer;
    background-color: var(--lightorange);
    border-bottom-left-radius: 10px;
}

#popup-button-close:hover {
    background-color: var(--orange);
}


.quantity-controls {
    display: flex;
    align-items: center;
    position: relative;
    width: 100px;
    right:66.5px;
    top:-6.5px;
}

.quantity-controls .quantity {
    font-size: 18px;
    width: 30px;
    text-align: center;
}

/* =======Restaurant.php <article> indisponible => n'apparait pas ======= */

.unavailable {
    display: none;
}

/* ======= RESPONSIVE ======= */


@media screen and (max-width: 800px) {

    .footer-container {
        display:none;
    }

    h1{
        font-size: 3.5rem;
    }

    p {
        font-size: 1rem;
    }

    header {
        width: 100%;
    }

    nav {
        padding-left : 1rem;
        padding-right: 1rem;
    }

    #hero-search-bar {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-block: 1rem
    }

    .body-padding {
        padding-inline: 1rem;
    }

    .header-logo {
        width: 4rem;
        height: auto;
    }

    .header-container {
        width: 100%;
    }

    .header-button {
        width: 5rem;
        height: 3rem;
    }

    .hero-banner {
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: unset;
        height: 70vh;
        padding-inline: 1rem;
        margin-bottom: 0;;
    }

    .hero-banner-search {
        width: 100%;
    }

    .hero-banner-search-subtitle {
        font-size: 1rem;
        text-align: center;
    }
    

    .hero-banner-text {
        display: flex;
        flex-direction: column;
        margin-inline: auto;
        text-align: center;
        text-wrap: balance;
    }

    .hero-banner form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #search-bar {
            margin-block: 1.5rem;
    }

    .hero-banner button  {
        width: 5rem;
        height: 3rem;
        margin-inline: auto;
    }

    .mobile-footer-container {
        display: flex;
        flex-wrap: wrap;
        padding-block: 1rem;
        width: 100%;
    }

    .main {
        display: none;
    }

    .restaurant-container {
        padding-top: 0;
    }

    .restaurant-id {
        margin-inline: 0;
        border:none;
        box-shadow: none;
    }

    .restaurant-box img {
        width: 150px;
        height: auto; 
        aspect-ratio: 1/1;
    }

    .restaurant-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
        padding: 0;
        text-align: center;
        background-color: var(--orange);
    }

    .footer-box {
        min-width: 40%;
        height: unset;
        padding: 0;
        padding-inline: 1rem;
        border: unset;
        background-color: var(--lightgrey);
        padding: 1rem;
    }

    .footer-content-1 {
        display:flex;
        justify-content: space-around;
        margin-inline: auto;
        width: 90%;
    }

    .footer-content-2 {
        height: unset;
        padding-top: 1rem;;
        padding-inline: 1rem;
        margin-inline: auto;
        border: unset;
        background-color: unset;
        border-radius: unset;
    }

    .footer-content-2 h2 {
        color: var(--white);
        text-align: center;
    }

    .footer-box h2 {
        text-align: center; 
        color: var(--white) ;
    }

    .footer-box-padtop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0;    
    }

    .footer-box-padtop-1 a {
        padding: 0.5rem;
    }

    .footer-box-padtop a {
        display: flex;
        align-items: center;
        padding-top: 0.5rem;
    }

    .footer-box-padtop img {
        width:50px;
        height: 50px;
    }

    .footer-box-padtop span {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        width: 50px;
        height: 50px;
    }

    .box-1 {
        display: unset!important;
    }
}